<a href="https://colab.research.google.com/github/eze-hong/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EC%B6%9C%EC%84%9D%EA%B3%BC%EC%A0%9C_%ED%99%8D%EC%9D%B4%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-2

1.   Python을 사용하여 API를 호출하는 코드를 작성
2.   2015년 1월부터 2024년 12월까지의 개인 유형의 현년 전기, 가스, 수도, 지역난방 에너지 사용량 데이터를 수집하는 프로그램을 작성
3. API 호출 성공을 확인할 수 있는 실행 결과를 캡처하여 첨부

In [4]:
import requests
import json
import pandas as pd
import numpy as np

url = 'http://openapi.seoul.go.kr:8088/626b6c4a5873656f36336e756f4b6f/json/energyUseDataSummaryInfo/1/5/'

params = {
    'KEY' : '626b6c4a5873656f36336e756f4b6f',
    'TYPE' : 'json',
    'SERVICE': 'energyUseDataSummaryInfo',
    'START_INDEX' : '1',
    'END_INDEX' : '100',
}
## 데이터 수집
response = requests.get(url, params=params)

data = response.json()['energyUseDataSummaryInfo'] ##['row']
##df = pd.DataFrame(data)
print(data)
##print(data['RESULT']['CODE'])

{'list_total_count': 1241, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2025', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '1269454', 'EUS': '278745288', 'EUS1': '275851011', 'EUS2': '273151435', 'ECO2_1': '4244065', 'ECO2_2': '2076623.656', 'GUS': '13084768', 'GUS1': '11889039', 'GUS2': '12094650', 'GCO2_1': '1091102', 'GCO2_2': '2182204', 'WUS': '14927683.6', 'WUS1': '15166284.8', 'WUS2': '15371662.2', 'WCO2_1': '-341289.9', 'WCO2_2': '-611822.446', 'HUS': '379182.22', 'HUS1': '368839.049', 'HUS2': '389847.167', 'HCO2_1': '-160.888', 'HCO2_2': '-22448.67848156', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '학교', 'CNT': '6745', 'EUS': '117808793', 'EUS1': '114793127', 'EUS2': '114623246', 'ECO2_1': '3100606.5', 'ECO2_2': '3096973.668', 'GUS': '2093441', 'GUS1': '2046804', 'GUS2': '2061648', 'GCO2_1': '39207', 'GCO2_2': '78414', 'WUS': '1824338.2', 'WUS1': '1914804.2', 'WUS2': '1956560.2', 'WCO2_1': '-111344', 'WCO2_2': '-333633.134', 'HUS': '8.03', 'HUS1': '8.03', 'HUS2': '8.03', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '공동주택관리소', 'CNT': '3729', 'EUS': '498863841', 'EUS1': '496003195', 'EUS2': '488758810', 'ECO2_1': '6482838.5', 'ECO2_2': '6482838.5', 'GUS': '2853437', 'GUS1': '2552964', 'GUS2': '2586972', 'GCO2_1': '283460.5', 'GCO2_2': '566921', 'WUS': '20407812.7', 'WUS1': '20616193.4', 'WUS2': '20794568.4', 'WCO2_1': '-297568.2', 'WCO2_2': '-892704.6', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '종교단체', 'CNT': '849', 'EUS': '6205342', 'EUS1': '6171454', 'EUS2': '6094109', 'ECO2_1': '72560.5', 'ECO2_2': '72560.5', 'GUS': '139336', 'GUS1': '152116', 'GUS2': '141705', 'GCO2_1': '-7575', 'GCO2_2': '-15150', 'WUS': '52228', 'WUS1': '51779', 'WUS2': '49094', 'WCO2_1': '1791.5', 'WCO2_2': '5374.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}, {'YEAR': '2025', 'MON': '06', 'MM_TYPE': '소상공인', 'CNT': '53274', 'EUS': '96254029', 'EUS1': '98122772', 'EUS2': '98464917', 'ECO2_1': '-2039815.5', 'ECO2_2': '-2043866.22', 'GUS': '1638563', 'GUS1': '1647690', 'GUS2': '1687480', 'GCO2_1': '-27668', 'GCO2_2': '-55336', 'WUS': '1526737.8', 'WUS1': '1541313.8', 'WUS2': '1576869.2', 'WCO2_1': '-32353.7', 'WCO2_2': '-97437.288', 'HUS': '2', 'HUS1': '2', 'HUS2': '2', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-09-01 04:02:15.0'}]}

In [11]:
import requests
import json
import pandas as pd
import numpy as np

url = 'http://openapi.seoul.go.kr:8088/626b6c4a5873656f36336e756f4b6f/json/energyUseDataSummaryInfo/1/5/'

params = {
    'KEY' : '626b6c4a5873656f36336e756f4b6f',
    'TYPE' : 'json',
    'SERVICE': 'energyUseDataSummaryInfo',
    'START_INDEX' : '1',
    'END_INDEX' : '100',
}
## 데이터 수집
##response = requests.get(url, params=params)

##data = response.json()['energyUseDataSummaryInfo']['row']
##print(json.dumps(data, indent=4, ensure_ascii=False))

##df = pd.DataFrame(data)
##print(df)

##개인타입인지 확인
##is_개인 = df['MM_TYPE'] == '개인'

##확인한 결과로 필터링한 데이터
##개인df = df[is_개인]
##print(개인df)
##EUS전기
##selected_col = 개인df[['YEAR']['MON']['MM_TYPE']['EUS']['GUS']['WUS']['HUS']]
##selected_col = 개인df[['YEAR','MON','MM_TYPE','EUS','GUS','WUS','HUS']]
##print(selected_col)


def get_year_months():
  year_months = []
  for year in range(2015, 2016+1):
    ##for year in range(2015, 2024+1):
    for month in range(1,12+1):
      year_months.append(f'{year}{month:02d}')
  return year_months

##print(get_year_months())
responses = []

for year_month in get_year_months():
  # 데이터를 수집하고 responses에 추가
  ##print(year_month[:4])
    year = year_month[:4]
    mon = year_month[4:]
    url = f'http://openapi.seoul.go.kr:8088/626b6c4a5873656f36336e756f4b6f/json/energyUseDataSummaryInfo/1/5/{year}/{mon}'
    response = requests.get(url, params=params)
    data = response.json()['energyUseDataSummaryInfo']
    if data['RESULT']['CODE'] == 'INFO-000' :
        rows =  data['row']
        개인_row = [r for r in rows if r['MM_TYPE'] == '개인']

        if(len(개인_row)!=0) :
            responses.append(개인_row)
    ##print(개인_row)
    ##df = pd.DataFrame(data)
    ##개인df = df[df['MM_TYPE'] == '개인'][['YEAR','MON','MM_TYPE','EUS','GUS','WUS','HUS']]
    ##print(개인df)
    ##responses.append(개인df)

print(responses)

[[{'YEAR': '2015', 'MON': '01', 'MM_TYPE': '개인', 'CNT': '767791', 'EUS': '193784708', 'EUS1': '194781915', 'EUS2': '204969429', 'ECO2_1': '-6090964', 'ECO2_2': '-2582568.736', 'GUS': '59133720', 'GUS1': '57163993', 'GUS2': '68297619', 'GCO2_1': '-3597086', 'GCO2_2': '-8057472.64', 'WUS': '12819757.886', 'WUS1': '12723680.426', 'WUS2': '12899476.73', 'WCO2_1': '8179.308', 'WCO2_2': '2715.530256', 'HUS': '22740838.937', 'HUS1': '23400055.303', 'HUS2': '27090493.875', 'HCO2_1': '-2504435.652', 'HCO2_2': '-33660084.213069', 'REG_DATE': '2015-06-04 17:03:55.0'}], [{'YEAR': '2015', 'MON': '02', 'MM_TYPE': '개인', 'CNT': '774620', 'EUS': '189974230', 'EUS1': '193611430', 'EUS2': '200055533', 'ECO2_1': '-6859251.5', 'ECO2_2': '-2908322.636', 'GUS': '56487358', 'GUS1': '59353536', 'GUS2': '66191173', 'GCO2_1': '-6284996.5', 'GCO2_2': '-14078392.16', 'WUS': '12656888.218', 'WUS1': '12713146.172', 'WUS2': '12948410.081', 'WCO2_1': '-173889.9085', 'WCO2_2': '-57731.449622', 'HUS': '18793320.213', 'HUS1': '19032221.757', 'HUS2': '21414367.325', 'HCO2_1': '-1429974.328', 'HCO2_2': '-17311712.76832', 'REG_DATE': '2015-06-04 16:59:30.0'}], [{'YEAR': '2015', 'MON': '05', 'MM_TYPE': '개인', 'CNT': '810422', 'EUS': '177289769', 'EUS1': '181972266', 'EUS2': '188230004', 'ECO2_1': '-7811366', 'ECO2_2': '-3312019.184', 'GUS': '22060892', 'GUS1': '21196763', 'GUS2': '30633727', 'GCO2_1': '-3854353', 'GCO2_2': '-8633750.72', 'WUS': '13086734.214', 'WUS1': '13214349.918', 'WUS2': '13186433.49', 'WCO2_1': '-113657.49', 'WCO2_2': '-37734.28668', 'HUS': '1320895.801', 'HUS1': '1558697.648', 'HUS2': '1709192.194', 'HCO2_1': '-313049.12', 'HCO2_2': '-5190153.166471', 'REG_DATE': '2015-08-05 04:00:01.0'}], [{'YEAR': '2015', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '813731', 'EUS': '186073153', 'EUS1': '191414452', 'EUS2': '196523474', 'ECO2_1': '-7895810', 'ECO2_2': '-3347823.44', 'GUS': '12677645', 'GUS1': '12887123', 'GUS2': '15272558', 'GCO2_1': '-1402195.5', 'GCO2_2': '-3140917.92', 'WUS': '14241651.402', 'WUS1': '14231573.864', 'WUS2': '14196573.165', 'WCO2_1': '27577.8875', 'WCO2_2': '9155.85865', 'HUS': '294312.634', 'HUS1': '301215.894', 'HUS2': '295514.063', 'HCO2_1': '-4052.3445', 'HCO2_2': '-90158.752204', 'REG_DATE': '2015-09-05 04:00:01.0'}], [{'YEAR': '2015', 'MON': '07', 'MM_TYPE': '개인', 'CNT': '823337', 'EUS': '165114568', 'EUS1': '171057688', 'EUS2': '176733530', 'ECO2_1': '-8781041', 'ECO2_2': '-3723161.384', 'GUS': '8893640', 'GUS1': '8706784', 'GUS2': '9439834', 'GCO2_1': '-179669', 'GCO2_2': '-402458.56', 'WUS': '12083879.038', 'WUS1': '12158770.739', 'WUS2': '12451976.253', 'WCO2_1': '-221494.458', 'WCO2_2': '-73536.160056', 'HUS': '702863.645', 'HUS1': '227748.982', 'HUS2': '218148.985', 'HCO2_1': '479914.6615', 'HCO2_2': '-29858.537272', 'REG_DATE': '2015-10-05 04:00:00.0'}], [{'YEAR': '2015', 'MON': '08', 'MM_TYPE': '개인', 'CNT': '831008', 'EUS': '242000479', 'EUS1': '225295114', 'EUS2': '251665825', 'ECO2_1': '3520009.5', 'ECO2_2': '1492484.028', 'GUS': '7619018', 'GUS1': '7818701', 'GUS2': '8690426', 'GCO2_1': '-635545.5', 'GCO2_2': '-1423621.92', 'WUS': '15164553.742', 'WUS1': '15186771.742', 'WUS2': '15162726.462', 'WCO2_1': '-10195.36', 'WCO2_2': '-3384.85952', 'HUS': '460288.965', 'HUS1': '446810.165', 'HUS2': '439663.894', 'HCO2_1': '17051.9355', 'HCO2_2': '-57105.653404', 'REG_DATE': '2015-11-05 04:00:00.0'}], [{'YEAR': '2015', 'MON': '10', 'MM_TYPE': '개인', 'CNT': '838855', 'EUS': '186473958', 'EUS1': '190857499', 'EUS2': '196312194', 'ECO2_1': '-7110888.5', 'ECO2_2': '-3015016.724', 'GUS': '8924018', 'GUS1': '9776852', 'GUS2': '9992178', 'GCO2_1': '-960497', 'GCO2_2': '-2151513.28', 'WUS': '14711828.766', 'WUS1': '14806253.041', 'WUS2': '15009957.053', 'WCO2_1': '-196276.281', 'WCO2_2': '-65163.725292', 'HUS': '3167520.127', 'HUS1': '3791530.042', 'HUS2': '3875736.209', 'HCO2_1': '-666112.9985', 'HCO2_2': '-13312269.687023', 'REG_DATE': '2016-01-08 12:42:17.0'}], [{'YEAR': '2015', 'MON': '12', 'MM_TYPE': '개인', 'CNT': '852483', 'EUS': '203388142', 'EUS1': '209110435', 'EUS2': '210601335', 'ECO2_1': '-6467743', 'ECO2_2': '-2742323.032', 'GUS': '40095231', 'GUS1': '44067763', 'GUS2': '47222920', 'GCO2_1': '-5550110.5', 'GCO2_2': '-12432247.52', 'WUS': '13904162.958', 'WUS1': '13901292.844', 'WUS2': '13985482.345', 'WCO2_1': '-39224.6365', 'WCO2_2': '-13022.579318', 'HUS': '21102616.717', 'HUS1': '26420971.573', 'HUS2': '24676994.275', 'HCO2_1': '-4446366.207', 'HCO2_2': '-59658969.202058', 'REG_DATE': '2016-03-05 04:00:01.0'}], [{'YEAR': '2016', 'MON': '01', 'MM_TYPE': '개인', 'CNT': '857740', 'EUS': '215330620', 'EUS1': '220880188', 'EUS2': '221266918', 'ECO2_1': '-5742933', 'ECO2_2': '-2435003.592', 'GUS': '57641741', 'GUS1': '65629232', 'GUS2': '63229675', 'GCO2_1': '-6787712.5', 'GCO2_2': '-15204476', 'WUS': '13218916.436', 'WUS1': '13388912.024', 'WUS2': '13279661.366', 'WCO2_1': '-115370.259', 'WCO2_2': '-38302.925988', 'HUS': '27186166.133', 'HUS1': '24793339.24', 'HUS2': '24821149.292', 'HCO2_1': '2378921.867', 'HCO2_2': '27458969.182215', 'REG_DATE': '2016-04-05 04:00:01.0'}], [{'YEAR': '2016', 'MON': '02', 'MM_TYPE': '개인', 'CNT': '861920', 'EUS': '216677664', 'EUS1': '215579912', 'EUS2': '218738693', 'ECO2_1': '-481638.5', 'ECO2_2': '-204214.724', 'GUS': '68879796', 'GUS1': '62885832', 'GUS2': '65477629', 'GCO2_1': '4698065.5', 'GCO2_2': '10523666.72', 'WUS': '13312113.622', 'WUS1': '13318104.692', 'WUS2': '13344572.552', 'WCO2_1': '-19225', 'WCO2_2': '-6382.7', 'HUS': '21452994.715', 'HUS1': '20405662.46', 'HUS2': '20322956.325', 'HCO2_1': '1088685.3225', 'HCO2_2': '16036998.03812', 'REG_DATE': '2016-05-05 04:00:01.0'}], [{'YEAR': '2016', 'MON': '03', 'MM_TYPE': '개인', 'CNT': '881235', 'EUS': '203451798', 'EUS1': '200479698', 'EUS2': '201978708', 'ECO2_1': '2222595', 'ECO2_2': '942380.28', 'GUS': '60019600', 'GUS1': '56324838', 'GUS2': '53579089', 'GCO2_1': '5067636.5', 'GCO2_2': '11351505.76', 'WUS': '13191615.499', 'WUS1': '13318966.175', 'WUS2': '13271899.478', 'WCO2_1': '-103817.3275', 'WCO2_2': '-34467.35273', 'HUS': '14070182.978', 'HUS1': '14895180.844', 'HUS2': '13536392.741', 'HCO2_1': '-145603.8145', 'HCO2_2': '-2725787.721523', 'REG_DATE': '2016-06-05 04:00:01.0'}], [{'YEAR': '2016', 'MON': '04', 'MM_TYPE': '개인', 'CNT': '884738', 'EUS': '202541336', 'EUS1': '206685781', 'EUS2': '208641867', 'ECO2_1': '-5122488', 'ECO2_2': '-2171934.912', 'GUS': '40370608', 'GUS1': '41594576', 'GUS2': '38131522', 'GCO2_1': '507559', 'GCO2_2': '1136932.16', 'WUS': '13748935.736', 'WUS1': '13587526.866', 'WUS2': '13626641.644', 'WCO2_1': '141851.481', 'WCO2_2': '47094.691692', 'HUS': '4556396.936', 'HUS1': '5865233.355', 'HUS2': '5046601.924', 'HCO2_1': '-899520.7035', 'HCO2_2': '-15228261.863086', 'REG_DATE': '2016-07-05 04:00:01.0'}], [{'YEAR': '2016', 'MON': '05', 'MM_TYPE': '개인', 'CNT': '889960', 'EUS': '195448592', 'EUS1': '198014328', 'EUS2': '202075529', 'ECO2_1': '-4596336.5', 'ECO2_2': '-1948846.676', 'GUS': '23077064', 'GUS1': '24514071', 'GUS2': '23265211', 'GCO2_1': '-812577', 'GCO2_2': '-1820172.48', 'WUS': '13762618.524', 'WUS1': '13746109.158', 'WUS2': '13815858.434', 'WCO2_1': '-18365.272', 'WCO2_2': '-6097.270304', 'HUS': '1166907.615', 'HUS1': '1274652.297', 'HUS2': '1388626.945', 'HCO2_1': '-164732.006', 'HCO2_2': '-2134262.617971', 'REG_DATE': '2016-08-05 04:00:01.0'}], [{'YEAR': '2016', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '895356', 'EUS': '205061790', 'EUS1': '207493964', 'EUS2': '212520460', 'ECO2_1': '-4945422', 'ECO2_2': '-2096858.928', 'GUS': '13344932', 'GUS1': '13903094', 'GUS2': '14045133', 'GCO2_1': '-629181.5', 'GCO2_2': '-1409366.56', 'WUS': '14543461.284', 'WUS1': '14951755.668', 'WUS2': '14933011.49', 'WCO2_1': '-398922.295', 'WCO2_2': '-132442.20194', 'HUS': '340601.066', 'HUS1': '346920.482', 'HUS2': '351642.532', 'HCO2_1': '-8680.441', 'HCO2_2': '-134539.689194', 'REG_DATE': '2016-09-05 04:00:01.0'}], [{'YEAR': '2016', 'MON': '09', 'MM_TYPE': '개인', 'CNT': '912883', 'EUS': '241676328', 'EUS1': '223335467', 'EUS2': '221958001', 'ECO2_1': '19029594', 'ECO2_2': '8068547.856', 'GUS': '7030657', 'GUS1': '7600026', 'GUS2': '8375553', 'GCO2_1': '-957132.5', 'GCO2_2': '-2143976.8', 'WUS': '15233262.266', 'WUS1': '15304192.837', 'WUS2': '15364873.664', 'WCO2_1': '-101270.9845', 'WCO2_2': '-33621.966854', 'HUS': '2597269.386', 'HUS1': '2606458.435', 'HUS2': '2610559.822', 'HCO2_1': '-11239.7425', 'HCO2_2': '-675600.52681', 'REG_DATE': '2016-12-05 04:00:00.0'}], [{'YEAR': '2016', 'MON': '10', 'MM_TYPE': '개인', 'CNT': '915645', 'EUS': '197827666', 'EUS1': '199976386', 'EUS2': '203973086', 'ECO2_1': '-4147070', 'ECO2_2': '-1758357.68', 'GUS': '10129547', 'GUS1': '10397969', 'GUS2': '11291889', 'GCO2_1': '-715382', 'GCO2_2': '-1602455.68', 'WUS': '15173666.268', 'WUS1': '15247524.754', 'WUS2': '15378130.238', 'WCO2_1': '-139161.228', 'WCO2_2': '-46201.527696', 'HUS': '2142328.405', 'HUS1': '2089346.702', 'HUS2': '2451332.451', 'HCO2_1': '-128011.1715', 'HCO2_2': '-1468922.340108', 'REG_DATE': '2017-01-05 04:00:00.0'}], [{'YEAR': '2016', 'MON': '11', 'MM_TYPE': '개인', 'CNT': '920150', 'EUS': '204812090', 'EUS1': '208974226', 'EUS2': '211739090', 'ECO2_1': '-5544568', 'ECO2_2': '-2350896.832', 'GUS': '23915383', 'GUS1': '21492950', 'GUS2': '23070086', 'GCO2_1': '1633865', 'GCO2_2': '3659857.6', 'WUS': '7215169', 'WUS1': '7231583', 'WUS2': '7262438', 'WCO2_1': '-31841.5', 'WCO2_2': '-10571.378', 'HUS': '10865402.481', 'HUS1': '9629930.997', 'HUS2': '9797602.314', 'HCO2_1': '1151635.8255', 'HCO2_2': '35905988.439686', 'REG_DATE': '2017-02-05 04:00:00.0'}]]