<a href="https://colab.research.google.com/github/eze-hong/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_5%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 5강 - 데이터 저장

## 5-1 CSV 형식 저장

In [ ]:
import pandas as pd

data = {
    'student_id': [101, 102, 103, 104, 105],
    'database_score': [85, 76, 92, 63, 88],
    'cloudcomputing_score': [78, 82, 95, 70, 84],
    'python_score': [92, 78, 85, 75, 91],
    'watch_rate': [0.95, 0.87, 0.99, 0.80, 0.93]
}
## DataFrame 생성
df = pd.DataFrame(data)

## CSV 형식 저장
df.to_csv('student_analysis.csv', encoding='utf-8', index=False)

## 5-2 JSON 형식 저장

In [ ]:
### 라이브러리 임포트
import json
import pandas as pd

data = { # 딕셔너리타입
    "이름": "홍길동",
    "나이": 25,
    "거주지": "서울",
    "관심사": ["프로그래밍", "데이터 분석", "여행"]
}

## json.dump를 이용한 저장
with open('output.json', mode = 'w', encoding='utf-8') as f :
    json.dump(data, f, indent=4, ensure_ascii=False) # data를 f에 저장, Indent=들여쓰기

## DataFrame을 이용한 저장
df = pd.DataFrame([data])
df.to_json('output_df.json', orient='columns', indent=4, force_ascii=False)
# orient records, columns(컬럼단위저장)
# df에 인자를 data와 [data](리스트로 넣음)넣는 것의 차이

## 5-3 Pandas Dataframe 데이터 추출

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터학", "경영학", "농학", "교육학", "영어영문학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)
df #출력
## DataFrame 인덱스 출력
print(df.index)

## DataFrame 컬럼 출력
print(df.columns)

## DataFrame 행 출력
print(df.values.tolist()) #파이썬의 리스트형태
print(df.values)    #넘파이형태?

## DataFrame 값 출력
print(df.values.flatten()) #요소를 하나씩 나열

RangeIndex(start=0, stop=5, step=1)
Index(['이름', '학년', '학점', '학과', '동아리'], dtype='object')
[['김철수', 1, 4.2, '컴퓨터학', '프로그래밍'], ['이영희', 2, 3.8, '경영학', '독서토론'], ['박민수', 3, 4.5, '농학', '로봇공학'], ['최지훈', 4, 3.9, '교육학', '봉사활동'], ['정소희', 2, 3.5, '영어영문학', '음악감상']]
[['김철수' 1 4.2 '컴퓨터학' '프로그래밍']
 ['이영희' 2 3.8 '경영학' '독서토론']
 ['박민수' 3 4.5 '농학' '로봇공학']
 ['최지훈' 4 3.9 '교육학' '봉사활동']
 ['정소희' 2 3.5 '영어영문학' '음악감상']]
['김철수' 1 4.2 '컴퓨터학' '프로그래밍' '이영희' 2 3.8 '경영학' '독서토론' '박민수' 3 4.5 '농학'
 '로봇공학' '최지훈' 4 3.9 '교육학' '봉사활동' '정소희' 2 3.5 '영어영문학' '음악감상']

## 5-4 DataFrame 생성 방법

In [ ]:
import pandas as pd
import json

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## 딕셔너리, csv, json으로 부터 DataFrame 생성
df1 = pd.DataFrame.from_dict(data) #dict 타입을 명시하며 가져오기
df2 = pd.read_csv('students.csv')
df3 = pd.read_json('students.json')

## 세가지 방법 결과 비교 shape는 데이터의 행과 열 출력함
print(df1.shape)
print(df2.shape)
print(df3.shape)

(5, 5)
(5, 5)
(5, 5)

## 5-5 DataFrame 저장 방법

In [ ]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

## Dataframe 생성
df = pd.DataFrame(data)

## CSV, JSON 형식으로 저장
df.to_csv('students_scores.csv')
df.to_json('students_scores.json')

## HTML 형식으로 저장
html_table = df.to_html()
print(html_table)
with open('students_scores.html', 'w') as f:
    f.write(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>이름</th>
      <th>학년</th>
      <th>학점</th>
      <th>학과</th>
      <th>동아리</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>김철수</td>
      <td>1</td>
      <td>4.2</td>
      <td>컴퓨터공학</td>
      <td>프로그래밍</td>
    </tr>
    <tr>
      <th>1</th>
      <td>이영희</td>
      <td>2</td>
      <td>3.8</td>
      <td>경영학</td>
      <td>독서토론</td>
    </tr>
    <tr>
      <th>2</th>
      <td>박민수</td>
      <td>3</td>
      <td>4.5</td>
      <td>전자공학</td>
      <td>로봇공학</td>
    </tr>
    <tr>
      <th>3</th>
      <td>최지훈</td>
      <td>4</td>
      <td>3.9</td>
      <td>의학</td>
      <td>봉사활동</td>
    </tr>
    <tr>
      <th>4</th>
      <td>정소희</td>
      <td>2</td>
      <td>3.5</td>
      <td>심리학</td>
      <td>음악감상</td>
    </tr>
  </tbody>
</table>

## 5-6 실습 시나리오

## 데이터 수집

In [5]:
!pip install xmltodict
import requests
import xmltodict
import json

# url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMinuDustFrcstDspth"
# api_key = '[발급받은 인증키]'

url = 'http://openapi.seoul.go.kr:8088/626b6c4a5873656f36336e756f4b6f/json/energyUseDataSummaryInfo/1/5/'

# params = {
#     'serviceKey': api_key,
#     'returnType': 'json',
#     'numOfRows': '100',
#     'pageNo': '1',
#     'sidoName': '서울',
#     'ver': '1.0'
# }
params = {
    'KEY' : '626b6c4a5873656f36336e756f4b6f',
    'TYPE' : 'json',
    'SERVICE': 'energyUseDataSummaryInfo',
    'START_INDEX' : '1',
    'END_INDEX' : '3'
}

## 데이터 수집
response = requests.get(url, params=params)

## 호출 성공/실패 출력
##print(response.headers.get("Content-Type"))
##print(response.content)

## xml to dict
##xml_data = response.text
##dict_data = xmltodict.parse(xml_data)

##dict to json
##json_data = json.dumps(dict_data, indent =4)
##print(json_data)

## url을 json으로 바꾼 후
data = response.json()
print(json.dumps(data, indent=4, ensure_ascii=False))

Requirement already satisfied: xmltodict in /usr/local/lib/python3.12/dist-packages (1.0.2)
{
    "energyUseDataSummaryInfo": {
        "list_total_count": 1241,
        "RESULT": {
            "CODE": "INFO-000",
            "MESSAGE": "정상 처리되었습니다"
        },
        "row": [
            {
                "YEAR": "2025",
                "MON": "06",
                "MM_TYPE": "개인",
                "CNT": "1269454",
                "EUS": "278745288",
                "EUS1": "275851011",
                "EUS2": "273151435",
                "ECO2_1": "4244065",
                "ECO2_2": "2076623.656",
                "GUS": "13084768",
                "GUS1": "11889039",
                "GUS2": "12094650",
                "GCO2_1": "1091102",
                "GCO2_2": "2182204",
                "WUS": "14927683.6",
                "WUS1": "15166284.8",
                "WUS2": "15371662.2",
                "WCO2_1": "-341289.9",
                "WCO2_2": "-611822.446",
                "HUS": "379182.22",
                "HUS1": "368839.049",
                "HUS2": "389847.167",
                "HCO2_1": "-160.888",
                "HCO2_2": "-22448.67848156",
                "REG_DATE": "2025-09-01 04:02:15.0"
            },
            {
                "YEAR": "2025",
                "MON": "06",
                "MM_TYPE": "학교",
                "CNT": "6745",
                "EUS": "117808793",
                "EUS1": "114793127",
                "EUS2": "114623246",
                "ECO2_1": "3100606.5",
                "ECO2_2": "3096973.668",
                "GUS": "2093441",
                "GUS1": "2046804",
                "GUS2": "2061648",
                "GCO2_1": "39207",
                "GCO2_2": "78414",
                "WUS": "1824338.2",
                "WUS1": "1914804.2",
                "WUS2": "1956560.2",
                "WCO2_1": "-111344",
                "WCO2_2": "-333633.134",
                "HUS": "8.03",
                "HUS1": "8.03",
                "HUS2": "8.03",
                "HCO2_1": "0",
                "HCO2_2": "0",
                "REG_DATE": "2025-09-01 04:02:15.0"
            },
            {
                "YEAR": "2025",
                "MON": "06",
                "MM_TYPE": "공동주택관리소",
                "CNT": "3729",
                "EUS": "498863841",
                "EUS1": "496003195",
                "EUS2": "488758810",
                "ECO2_1": "6482838.5",
                "ECO2_2": "6482838.5",
                "GUS": "2853437",
                "GUS1": "2552964",
                "GUS2": "2586972",
                "GCO2_1": "283460.5",
                "GCO2_2": "566921",
                "WUS": "20407812.7",
                "WUS1": "20616193.4",
                "WUS2": "20794568.4",
                "WCO2_1": "-297568.2",
                "WCO2_2": "-892704.6",
                "HUS": "0",
                "HUS1": "0",
                "HUS2": "0",
                "HCO2_1": "0",
                "HCO2_2": "0",
                "REG_DATE": "2025-09-01 04:02:15.0"
            },
            {
                "YEAR": "2025",
                "MON": "06",
                "MM_TYPE": "종교단체",
                "CNT": "849",
                "EUS": "6205342",
                "EUS1": "6171454",
                "EUS2": "6094109",
                "ECO2_1": "72560.5",
                "ECO2_2": "72560.5",
                "GUS": "139336",
                "GUS1": "152116",
                "GUS2": "141705",
                "GCO2_1": "-7575",
                "GCO2_2": "-15150",
                "WUS": "52228",
                "WUS1": "51779",
                "WUS2": "49094",
                "WCO2_1": "1791.5",
                "WCO2_2": "5374.5",
                "HUS": "0",
                "HUS1": "0",
                "HUS2": "0",
                "HCO2_1": "0",
                "HCO2_2": "0",
                "REG_DATE": "2025-09-01 04:02:15.0"
            },
            {
                "YEAR": "2025",
                "MON": "06",
                "MM_TYPE": "소상공인",
                "CNT": "53274",
                "EUS": "96254029",
                "EUS1": "98122772",
                "EUS2": "98464917",
                "ECO2_1": "-2039815.5",
                "ECO2_2": "-2043866.22",
                "GUS": "1638563",
                "GUS1": "1647690",
                "GUS2": "1687480",
                "GCO2_1": "-27668",
                "GCO2_2": "-55336",
                "WUS": "1526737.8",
                "WUS1": "1541313.8",
                "WUS2": "1576869.2",
                "WCO2_1": "-32353.7",
                "WCO2_2": "-97437.288",
                "HUS": "2",
                "HUS1": "2",
                "HUS2": "2",
                "HCO2_1": "0",
                "HCO2_2": "0",
                "REG_DATE": "2025-09-01 04:02:15.0"
            }
        ]
    }
}

## 데이터 프레임 생성

In [11]:
import pandas as pd

## requests로부터 response, body, item 항목 읽기
data = response.json()['energyUseDataSummaryInfo']['row'] ##~info의 row를 꺼냄
print(type(data))
print(len(data))
print(data[0])
df = pd.DataFrame(data)
df['MM_TYPE'] ##특정 칼럼만 보기

<class 'list'>
5
{'YEAR': '2025', 'MON': '06', 'MM_TYPE': '개인', 'CNT': '1269454', 'EUS': '278745288', 'EUS1': '275851011', 'EUS2': '273151435', 'ECO2_1': '4244065', 'ECO2_2': '2076623.656', 'GUS': '13084768', 'GUS1': '11889039', 'GUS2': '12094650', 'GCO2_1': '1091102', 'GCO2_2': '2182204', 'WUS': '14927683.6', 'WUS1': '15166284.8', 'WUS2': '15371662.2', 'WCO2_1': '-341289.9', 'WCO2_2': '-611822.446', 'HUS': '379182.22', 'HUS1': '368839.049', 'HUS2': '389847.167', 'HCO2_1': '-160.888', 'HCO2_2': '-22448.67848156', 'REG_DATE': '2025-09-01 04:02:15.0'}

0         개인
1         학교
2    공동주택관리소
3       종교단체
4       소상공인
Name: MM_TYPE, dtype: object

## 다양항 형식으로 데이터 저장

In [14]:
##CSV 형식 데이터 저장
df.to_csv('energyUseDataSummaryInfo.csv', index=False, encoding='utf-8')

## JSON 형식 데이터 저장
df.to_json('energyUseDataSummaryInfo.json', indent=4, force_ascii=False)

## EXCEL 형식 데이터 저장
df.to_excel('energyUseDataSummaryInfo.xlsx', index =False)
## HTML 형식 데이터 저장
df.to_html('energyUseDataSummaryInfo.html')